*.class
*.jar
/game/target/**/*.proto
/game/target/maven-archiver/pom.properties
/game/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/game/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/game/target/*
!/game/target/generated-sources/
.idea/workspace.xml
/.idea/libraries/*
/.idea/libraries/
/.idea/codeStyles/*
/game/src/algo.src.main/java/algo/src/UserToken.java
/game/src/main/java/algo/src/UserToken.java
/game/target/maven-archiver/
/moveCalculationSpeed.txt
